.hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.hotel ul {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
}

.hotel li {
  display: inline-block;
  flex-grow: 1;
}

.navlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.navlist ul {
  list-style-type: none;
  padding: 0;
}

.navlist li {
  display: inline-block;
}
.navlist li:nth-child(1) {
  margin-right: 200px;
}

.navlist li:nth-child(2) {
  margin-right: 300px;
}

.image {
  height: 100%;
  width: 100%;
}
.logo {
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.heading {
  font-style: normal;
  font-size: large;
  font-family: sans-serif;
  padding-top: 20px;
}
